.footer__columns {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
  }